$astur-blue: #006db0;
$astur-yellow: #eabf18;
$astur-green: #27a138;
$astur-light-green: #A2EBB7;
$astur-light-yellow: #FFE039;

$first-font: Raleway;
$second-font: Marck Script;

$left-popUp: calc(50% - 400px);