$astur-blue: #006db0;
$astur-blue-opacity: rgba(0, 109, 176, 0.75);
$astur-yellow: #eabf18;
$astur-yellow-opacity: rgb(234, 191, 24, 0.75);
$astur-green: #27a138;
$astur-green-opacity: rgb(39, 161, 56, 0.75);
$astur-light-green: #A2EBB7;
$astur-light-yellow: #FFE039;

$first-font: Raleway;
$second-font: Marck Script;